<div class="container-fluid">
  <h1 class="name">{{ "skills.label" | translate }}</h1>
  <div class="container-skills">
    <div class="subheading">
      {{ "skills.front-end" | translate }}
      <div class="container-icons">
        <span class="list-social-icons">
          <i class="devicon-angularjs-plain"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-html5-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-css3-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-typescript-plain"></i>
        </span>
      </div>
    </div>
    <div class="subheading">
      {{ "skills.back-end" | translate }}
      <div class="container-icons">
        <span class="list-social-icons">
          <i class="devicon-java-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-postgresql-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-bitbucket-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-gradle-plain-wordmark"></i>
        </span>
      </div>
    </div>
    <div class="subheading">
      {{ "skills.platform" | translate }}
      <div class="container-icons">
        <span class="list-social-icons">
          <i class="devicon-docker-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-heroku-plain-wordmark"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-linux-plain"></i>
        </span>
        <span class="list-social-icons">
          <i class="devicon-android-plain-wordmark"></i>
        </span>
      </div>
    </div>
    <div class="subheading">
      {{ "skills.frameworks.label" | translate }}
      <div>
        <mat-list role="list">
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.frameworks.spring" | translate }}
          </mat-list-item>
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.frameworks.hibernate" | translate }}
          </mat-list-item>
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.frameworks.elasticsearch" | translate }}
          </mat-list-item>
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.frameworks.rabbit" | translate }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="subheading">
      {{ "skills.planning.label" | translate }}
      <div>
        <mat-list role="list">
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.planning.jira" | translate }}
          </mat-list-item>
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.planning.confluence" | translate }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="subheading">
      {{ "skills.foreign-languages.label" | translate }}
      <div>
        <mat-list role="list">
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.foreign-languages.english" | translate }}
          </mat-list-item>
          <mat-list-item class="text-style">
            <mat-icon mat-list-icon>label</mat-icon>
            {{ "skills.foreign-languages.german" | translate }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
