.container-skills {
  margin-top: 2rem;
}

.name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.container-icons {
  margin-top: 0.5rem;
}

.list-social-icons {
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.text-style {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: -1.25rem;
  margin-top: -1.3rem;
  margin-left: -1.25rem;
  color: #2e3049;
  text-transform: none;
}
