@import "./../../../styles.scss";

.name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: -1.5rem;
}

.subheading {
  margin-top: 3rem;
  margin-bottom: -2rem;
  color: #2e3049;
}

.company {
  @extend .subheading !optional;
  color: #d27621;
  display: inline-flex;
  margin-top: 2.25rem;
}

.period {
  @extend .company !optional;
  color: #d27621;
  font-size: 1rem;
  position: fixed;
  right: 2em;
}

.responsibilities {
  margin-top: -0.5rem;
  margin-left: -1rem;
}

.text-style {
  font-family: "Saira", sans-serif !important;
  white-space: pre-line;
  text-transform: none;
  font-size: 1rem;
  margin-right: 1.5rem;
  color: black;
}

.mat-list-icon {
  color: black;
}

.mat-list-item {
  margin-bottom: -1.5rem;
}
