<div class="container-fluid">
  <h1 class="name">{{ "experience.label" | translate }}</h1>
  <div>
    <p class="subheading">{{ "experience.luxoft.role" | translate }}</p>
    <p class="company">{{ "experience.luxoft.label" | translate }}</p>
    <p class="period">{{ "experience.luxoft.period" | translate }}</p>
  </div>
  <div>
    <div class="responsibilities">
      <mat-list role="list">
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.development" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.enhancement" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.analysis" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.bug-fixing" | translate }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div>
    <p class="subheading">{{ "experience.pentalog.role" | translate }}</p>
    <p class="company">{{ "experience.pentalog.label" | translate }}</p>
    <p class="period">{{ "experience.pentalog.period" | translate }}</p>
  </div>
  <div>
    <div class="responsibilities">
      <mat-list role="list">
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.development" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.enhancement" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.analysis" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.pentalog.responsibilities.bug-fixing" | translate }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div>
    <p class="subheading">{{ "experience.ibm.role" | translate }}</p>
    <p class="company">{{ "experience.ibm.label" | translate }}</p>
    <p class="period">{{ "experience.ibm.period" | translate }}</p>
  </div>
  <div>
    <div class="responsibilities">
      <mat-list role="list">
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.ibm.responsibilities.development" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.ibm.responsibilities.enhancement" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.ibm.responsibilities.analysis" | translate }}
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check_box</mat-icon>
          <p class="text-style">
            {{ "experience.ibm.responsibilities.discussions" | translate }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
