<div class="container-fluid">
    <h1 class="name">{{'hobbies.label' | translate}}</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="start start">
        <mat-card class="example-card">
            <img mat-card-image class="image" src="../../../assets/img/hobbies/socket.jpg" alt="Socket">
            <mat-card-content>
                <div>
                    <p class="title">{{'hobbies.computers.label' | translate}}</p>
                    <p class="description">{{'hobbies.computers.list' | translate}}</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image class="image" src="../../../assets/img/hobbies/stadium.jpg" alt="Stadium">
            <mat-card-content>
                <div>
                    <p class="title">{{'hobbies.sports.label' | translate}}</p>
                    <p class="description">{{'hobbies.sports.list' | translate}}</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image class="image" src="../../../assets/img/hobbies/panorama.jpg" alt="Panorama">
            <mat-card-content>
                <div>
                    <p class="title">{{'hobbies.travelling.label' | translate}}</p>
                    <p class="description">{{'hobbies.travelling.list' | translate}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
