.example-card {
  max-width: 17.5rem;
  background-color: #1d1d2c;
}

.example-card:hover {
  max-width: 18rem;
}

.name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  font-family: "Saira", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: #d27621;
}

.description {
  font-family: "Saira", sans-serif !important;
  white-space: pre-line;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
}

.image {
  background-size: cover;
  border-radius: 1rem;
  border: 0.1rem solid white;
  cursor: pointer;
}
