<div class="container-fluid">
    <h1 class="name">{{'education.label' | translate}}</h1>
    <div>
        <p class="subheading">{{'education.masters-degree-brasov.institution' | translate}}</p>
        <p class="institution">{{'education.masters-degree-brasov.label' | translate}}</p>
        <p class="period">{{'education.masters-degree-brasov.period' | translate}}</p>
        <p class="text-style">{{'education.masters-degree-brasov.program' | translate}}</p>
    </div>
    <div>
        <p class="subheading">{{'education.bachelors-degree-heilbronn.institution' | translate}}</p>
        <p class="institution">{{'education.bachelors-degree-heilbronn.label' | translate}}</p>
        <p class="period">{{'education.bachelors-degree-heilbronn.period' | translate}}</p>
        <p class="text-style">{{'education.bachelors-degree-heilbronn.program' | translate}}</p>
    </div>
    <div>
        <p class="subheading">{{'education.bachelors-degree-brasov.institution' | translate}}</p>
        <p class="institution">{{'education.bachelors-degree-brasov.label' | translate}}</p>
        <p class="period">{{'education.bachelors-degree-brasov.period' | translate}}</p>
        <p class="text-style">{{'education.bachelors-degree-brasov.program' | translate}}</p>
    </div>
</div>