mat-sidenav,
mat-toolbar {
  width: 17rem;
  background-color: #343a40;
}

.language-toolbar {
  margin-bottom: 35%;
}

mat-sidenav-content {
  background-color: white;
  color: black;
}

mat-form-field {
  margin-top: 1.75rem;
  margin-left: 0.5rem;
}

.content {
  margin-left: 2rem;
  background-color: white;
  color: black;
}

.subheading {
  @extend .mail !optional;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0.05rem;
  font-size: 1.35rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.mat-drawer-side {
  border: none;
}

.item {
  letter-spacing: 0.05rem;
  font-family: Calibri, Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(196, 196, 196);
  text-transform: uppercase;
  border-bottom: 0.15rem solid transparent;
  transition: border-bottom 0.6s;
}

.language {
  letter-spacing: 0.06rem;
  font-family: Calibri, Courier, monospace;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(196, 196, 196);
  text-transform: uppercase;
  cursor: pointer;
}

.language:hover {
  background-color: transparent;
  color: rgb(225, 225, 225);
}

.item:hover {
  border-bottom-color: #d27621;
  background-color: transparent;
  color: rgb(225, 225, 225);
}

.item:focus {
  background-color: transparent;
}

.active-item {
  color: white;
}

.profile {
  margin-top: 1.2rem;
  width: 50%;
  border-radius: 0.7rem;
  border: 0.25rem solid white;
  cursor: pointer;
}

.powered {
  margin-top: 15%;
  cursor: pointer;
  font-family: 'Calibri', cursive;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: rgb(196, 196, 196);
  font-size: 1rem;
}

.powered:hover {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(225, 225, 225);
}
