<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav mode="side" opened="true" fxShow.lt-lg="false">
    <div class="no-v-scroll">
      <mat-toolbar class="language-toolbar">
        <mat-form-field fxLayoutAlign="center" class="language">
          <mat-label>{{'languages.label' | translate}}</mat-label>
          <mat-select #langSelect (selectionChange)="changeLanguage(langSelect.value)">
            <mat-option class="language"
              *ngFor="let lang of ['languages.english', 'languages.german', 'languages.romanian']"
              [value]="lang | translate"> {{lang | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar>
      <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <img class="profile" src="assets/img/profile.jpg" alt="">
        <mat-nav-list>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/about" [routerLinkActive]="['active-item']">
            {{'sections.about' | translate}}</mat-list-item>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/skills" [routerLinkActive]="['active-item']">
            {{'sections.skills' | translate}}</mat-list-item>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/portfolio"
            [routerLinkActive]="['active-item']">
            {{'sections.portfolio' | translate}}</mat-list-item>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/experience"
            [routerLinkActive]="['active-item']">{{'sections.experience' | translate}}</mat-list-item>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/education"
            [routerLinkActive]="['active-item']">
            {{'sections.education' | translate}}</mat-list-item>
          <mat-list-item class="item" fxLayoutAlign="center" routerLink="/hobbies" [routerLinkActive]="['active-item']">
            {{'sections.hobbies' | translate}}</mat-list-item>
        </mat-nav-list>
      </div>
      <span fxLayout="column" fxLayoutAlign="center center" class="powered">
        <a href="https://angular.io/">
          <p class="powered">{{'powered' | translate}}</p>
        </a>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="content" [@routerAnimation]="getRouteAnimation(sectionsRouterOutlet)">
      <router-outlet #sectionsRouterOutlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
