<div class="container-fluid">
    <h1 class="name">{{'about.name' | translate}}</h1>
    <div class="location">{{'about.location' | translate}}
        <a class="mail" href="mailto:mircea.stan94@gmail.com">{{'about.mail-address' | translate}}</a>
    </div>
    <div class="subheading">{{'about.who-am-i' | translate}}</div>
    <p class="text-style" translate>
        <mat-icon inline="true">note</mat-icon>
        {{'about.intro-text' | translate}}
    </p>
    <div class="subheading">{{'about.my-work' | translate}}</div>
    <div class="list-social-icons">
        <a href="https://www.linkedin.com/in/mircea-stan-54972816b">
            <span class="list-social-icons">
                <i class="fa fa-linkedin-square"></i>
            </span>
        </a>
        <a href="https://bitbucket.org/mirceastan94/profile/projects">
            <span class="list-social-icons">
                <i class="fa fa-bitbucket"></i>
            </span>
        </a>
    </div>
    <div class="subheading">{{'about.workflow.label' | translate}}
        <div>
            <mat-list role="list">
                <mat-list-item class="text-style">
                    <mat-icon mat-list-icon>verified_user</mat-icon>
                    {{'about.workflow.architecture' | translate}}
                </mat-list-item>
                <mat-list-item class="text-style">
                    <mat-icon mat-list-icon>verified_user</mat-icon>
                    {{'about.workflow.responsiveness' | translate}}
                </mat-list-item>
                <mat-list-item class="text-style">
                    <mat-icon mat-list-icon>verified_user</mat-icon>
                    {{'about.workflow.team' | translate}}
                </mat-list-item>
                <mat-list-item class="text-style">
                    <mat-icon mat-list-icon>verified_user</mat-icon>
                    {{'about.workflow.development' | translate}}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
