mat-list-item{
  margin-top: -0.75rem;
  margin-left: -1.5rem;
  margin-bottom: -1rem;
}

.name {
  font-family: "Saira Stencil One", sans-serif !important;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 3rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: #2e3049;
}

.location {
  font-family: "Saira Extra Condensed", sans-serif !important;
  letter-spacing: -0.075rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #2e3049;
}

.mail {
  @extend .location !optional;
  margin-left: 0rem;
  color: #d27621;
}



.text-style {
  display: inline-block;
  font-family: "Roboto", sans-serif !important;
  white-space: pre-line;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
  margin-right: 1.5rem;
  color: #2e3049;
}