.container-portfolio {
  margin-top: 2.5rem;
}

.name {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.source-code {
  margin-top: -1rem;
  margin-left: -0.5rem;
}

.source-code-url {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Impact", serif;
  font-size: 1.5em;
  color: #484b74;
}

.source-code-url:hover {
  text-decoration: underline;
  color: #2e3049;
}

.text-style {
  font-family: "Roboto", sans-serif !important;
  white-space: pre-line;
  max-width: 50em;
  word-wrap: break-word;
  text-transform: none;
  font-weight: normal;
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

.text-style-weather-bot {
  @extend .text-style;
}

.mat-list-icon {
  color: #2e3049;
}

.mat-list-item {
  margin-bottom: -1rem;
}

.images-margin {
  margin-left: -10.5vw;
}

.text-style-bazaar {
  @extend .text-style;
  margin-bottom: -3em;
}

.example-card {
  margin-bottom: 1rem;
  max-width: 10rem;
  background-color: #1d1d2c;
  border-radius: 0.75rem;
  transition: 500ms ease;

  &:hover {
    max-width: 13rem;
  }
}

.example-card-bazaar {
  @extend .example-card;
  margin-top: 0.5em;
  margin-bottom: 1em;
  max-width: 35em;
  border-radius: 0.2rem;

  &:hover {
    max-width: 40rem;
  }
}

.card-text {
  font-family: "Roboto", sans-serif !important;
  font-style: italic;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  overflow-wrap: break-word;
}

.image {
  background-size: 100%;
  cursor: pointer;
}

@media (max-width: 1024px) {

  .text-style {
    margin-bottom: -2rem;
  }

  .text-style-weather-bot {
    margin-bottom: 2rem;
  }

  .images-margin {
    margin-left: 0;
  }

  .text-style-bazaar {
    margin-bottom: 0;
  }

  .example-card-bazaar {
    max-width: 18em;

    &:hover {
      max-width: 19rem;
    }
  }

}
