<div class="container-fluid">
  <h1 class="name">{{ "portfolio.label" | translate }}</h1>
  <div class="container-portfolio">
    <div>
      <div class="subheading">
        {{ "portfolio.next-gen-online-bazaar.label" | translate }}
      </div>
      <div>
        <p class="text-style-bazaar" translate>
          <mat-icon inline="true">shop</mat-icon> {{ "portfolio.next-gen-online-bazaar.description" | translate }}
        </p>
      </div>
      <div fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="start start">
        <div *ngFor="let currentPortfolioApplicationsInfo of portfolioApplicationsInfo">
          <mat-card class="example-card-bazaar" *ngIf="currentPortfolioApplicationsInfo.name === 'nextGenOnlineBazaar'">
            <img mat-card-image class="image" [src]="currentPortfolioApplicationsInfo.imagePath">
            <mat-card-content class="card-text">{{ currentPortfolioApplicationsInfo.text }}</mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="source-code">
        <mat-list role="list">
          <mat-list-item>
            <mat-icon mat-list-icon>code</mat-icon>
            <a class="source-code-url" href="https://bitbucket.org/mirceastan94/client-next-generation-online-bazaar/src/master/"> {{ "portfolio.next-gen-online-bazaar.source-code-client" | translate }} </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>code</mat-icon>
            <a class="source-code-url" href="https://bitbucket.org/mirceastan94/rest-next-generation-online-bazaar/src/master/"> {{ "portfolio.next-gen-online-bazaar.source-code-server" | translate }} </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <hr>
    <div>
      <div class="subheading">
        {{ "portfolio.music-band-club-manager.label" | translate }}
      </div>
      <div>
        <p class="text-style" translate>
          <mat-icon inline="true">shop</mat-icon> {{ "portfolio.music-band-club-manager.description" | translate }}
        </p>
      </div>
      <div class="images-margin" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="start start">
        <div *ngFor="let currentPortfolioApplicationsInfo of portfolioApplicationsInfo">
          <mat-card class="example-card" *ngIf="currentPortfolioApplicationsInfo.name === 'musicManager'">
            <img mat-card-image class="image" [src]="currentPortfolioApplicationsInfo.imagePath">
            <mat-card-content class="card-text">{{ currentPortfolioApplicationsInfo.text }}</mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="source-code">
        <mat-list role="list">
          <mat-list-item>
            <mat-icon mat-list-icon>code</mat-icon>
            <a class="source-code-url" href="https://bitbucket.org/mirceastan94/android-music-band-club-manager/src/master/"> {{ "portfolio.music-band-club-manager.source-code-client" | translate }} </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>code</mat-icon>
            <a class="source-code-url" href="https://bitbucket.org/mirceastan94/rest-music-band-club-manager/src/master/"> {{ "portfolio.music-band-club-manager.source-code-server" | translate }} </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <hr>
    <div>
      <div class="subheading">
        {{ "portfolio.weather-bot.label" | translate }}
      </div>
      <div>
        <p class="text-style-weather-bot" translate>
          <mat-icon inline="true">shop</mat-icon> {{ "portfolio.weather-bot.description" | translate }}
        </p>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="start start">
          <div *ngFor="let currentPortfolioApplicationsInfo of portfolioApplicationsInfo">
            <mat-card class="example-card" *ngIf="currentPortfolioApplicationsInfo.name === 'weatherBot'">
              <img mat-card-image class="image" [src]="currentPortfolioApplicationsInfo.imagePath">
              <mat-card-content class="card-text">{{ currentPortfolioApplicationsInfo.text }}</mat-card-content>
            </mat-card>
          </div>
      </div>
      <div class="source-code">
        <mat-list role="list">
          <mat-list-item>
            <mat-icon mat-list-icon>code</mat-icon>
            <a class="source-code-url" href="https://bitbucket.org/mirceastan94/rest-weatherbot/src/master/">{{ "portfolio.weather-bot.source-code" | translate }}</a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
